button {
  color: rgb(64, 24, 97);
  font-weight: bolder;
  font-size: 30px;
  margin: 5px;
  font-family: sans-serif;
  background-color: rgba(135, 97, 153, 0.795);
  border-radius: 10px;
  height: 50px;
  width: 70px;
}

h1 {
  font-size: 60px;
  font-family: sans-serif;
  background-color: rgba(64, 24, 97, 0.459);
  margin-top: 20px;
  margin-bottom: 20px;
}
body {
  background: lavender;
}
.game-box {
  display: flex;
}
.click-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
}
